__pycache__/
*.py[cod]
*.db
*.sqlite
.env
venv/
.venv/
static/uploads/
*.log
.DS_Store
instance/
.pytest_cache/
static/hero-video-original.mp4
Video_Revision_and_Extension_Request.mp4
IMG_4576.JPG
static/IMG_4576.JPG